@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left ">
 <h1 class="display-6 text-light text-center">Bienvenido a Movies++</h1>

	<p class="display-9 text-light text-center mt-2 ">Donde puedes comprar las mejores peliculas.</>

		<div class="mt-auto">
		<img src="Images/Avenger.jpg" class="img-thumbnail img-responsive "  width="200" height="100" />
			<img src="Images/Sherk.jpg" class="img-thumbnail img-responsive " width="200" height="100 " />
			<img src="Images/Kimetsu.jpg" class="img-thumbnail img-responsive " width="200" height="100" />
			<img src="Images/Pitufos 2.jpg" class="img-thumbnail img-responsive " width="200" height="100" />
			<img src="Images/Titanic.jpg" class="img-thumbnail img-responsive " width="200" height="100" />
			<img src="Images/Harry Potter.jpg" class="img-thumbnail img-responsive " width="200" height="100" />
		</div>
		
			
</div>


